[submodule "42-Libft"]
	path = 42-Libft
	url = https://github.com/titouanck/42-Libft
[submodule "42-ft_printf"]
	path = 42-ft_printf
	url = git@github.com:titouanck/42-ft_printf.git
[submodule "42-get_next_line"]
	path = 42-get_next_line
	url = git@github.com:titouanck/42-get_next_line.git
[submodule "42-Born2beroot"]
	path = 42-Born2beroot
	url = git@github.com:titouanck/42-Born2beroot.git
[submodule "42-FdF"]
	path = 42-FdF
	url = git@github.com:titouanck/42-FdF.git
